
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f7fb;
}

/* Header */
header {
    background-color: #172554;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
.logo {
    width: 60px;
}

/* Navigation */
nav a {
    color: white;
    text-decoration: none;
    margin: 10px;
}

/* Hero */
.hero {
    text-align: center;
    padding: 80px 20px;
    background-color: #dbeafe;
}

.hero h2 {
    font-size: 35px;
}

button {
    background-color: #172554;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

/* Sections */
section {
    padding: 40px;
    text-align: center;
}

/* Services */
.services {
    display: flex;
    justify-content: center;
    gap: 20px;
}

article {
    background-color: white;
    padding: 20px;
    width: 25%;
    border-radius: 8px;
}

/* Footer */
footer {
    background-color: #172554;
    color: white;
    text-align: center;
    padding: 15px;
}


